[colors]
black = #18262F
red = #ef5253
green = #7cc844
yellow = #e4b51c
blue = #33b5e1
magenta = #a363d5
cyan = #52cbb0
white = #f5f7fa
primary = #33b5e1
secondary = #52cbb0
danger = #ef5253
background = #0a18262f
foreground = #a6afb8

[sweet]
bg = #161925
bg1 = #181B28
bg2 = #1A1D2B
bg3 = #171E27
fg = #C3C7D1
fg1 = #F3E9FD
fg2 = #ffffff
primary = #C50ED2

[wal]
bg = #cc222222
bg2 = ${xrdb:color0:#222}
fg = #eee
fg2 = ${xrdb:color7:#222}
primary = #ee222222 
secondary = ${xrdb:color2:#222}
alert = ${xrdb:color3:#222}

[bar/master]
width = 100%
height = 32
background = ${wal.bg}
foreground = ${wal.fg}
wm-restack = bspwm

line-size = 2

border-size = 0
border-color =

padding-left = 0
padding-right = 0

module-margin-left = 3
module-margin-right = 1

;font-0 = "Source Code Pro Semibold:size=10;0"
font-0 = "Google Sans Medium:size=10;1"
font-1 = "Font Awesome 5 Free:style=Solid:size=10;2"
font-2 = "Font Awesome 5 Brands:size=10;2"

modules-left = bspwm title
modules-center = time
modules-right = 

fixed-center = true

tray-position = right
tray-background = ${wal.bg}
tray-padding = 3

cursor-click = pointer
cursor-scroll = ns-resize

[bar/bar1]
inherit = bar/master
monitor = ${env:MONITOR:}

[bar/bar2]
inherit = bar/master
monitor = ${env:MONITOR:}
tray-position = none

[bar/bar3]
inherit = bar/master
monitor = ${env:MONITOR:}
tray-position = none

[bar/bar4]
inherit = bar/master
monitor = ${env:MONITOR:}
tray-position = none

[module/i3]
type = internal/i3
enable-click = true
enable-scroll = true
wrapping-scroll = false
strip-wsnumbers = true

label-mode-background = ${wal.bg}
label-mode-foreground = ${wal.fg}
label-mode-padding    = 3

label-focused            = %name%
label-focused-background = ${wal.primary}
;label-focused-underline = ${wal.fg}
label-focused-foreground = ${wal.fg}
label-focused-padding    = 3

label-unfocused            = %name%
label-unfocused-background = ${wal.bg}
label-unfocused-foreground = #777
label-unfocused-padding    = 3

label-visible            = %name%
label-visible-background = ${wal.bg}
label-visible-foreground = ${wal.fg}
label-visible-padding    = 3

label-urgent            = %name%
label-urgent-background = ${wal.bg}
label-urgent-foreground = ${colors.red}
label-urgent-padding    = 3
pin-workspaces = true

[module/bspwm]
pin-workspaces=true
type = internal/bspwm
enable-click = true
enable-scroll = true
wrapping-scroll = false
strip-wsnumbers = true

label-mode-background = ${wal.bg}
label-mode-foreground = ${wal.fg}
label-mode-padding    = 3

label-focused            = %index%
label-focused-background = ${wal.primary}
;label-focused-underline = ${wal.fg}
label-focused-foreground = ${wal.fg}
label-focused-padding    = 3

label-unoccupied            = %index%
label-unoccupied-background = ${wal.bg}
label-unoccupied-foreground = #777
label-unoccupied-padding    = 3

label-occupied            = %index%
label-occupied-background = ${wal.bg}
label-occupied-foreground = #777
label-occupied-padding    = 3

label-visible            = %index%
label-visible-background = ${wal.bg}
label-visible-foreground = ${wal.fg}
label-visible-padding    = 3

label-urgent            = %index%
label-urgent-background = ${wal.bg}
label-urgent-foreground = ${colors.red}
label-urgent-padding    = 3

label-empty = 

[module/time]
type = internal/date
interval = 30

;format =  <label>
format-foreground = ${wal.fg}
;format-background = ${wal.bg}

label = %date%
label-foreground = ${wal.fg}

date = %a %H:%M
date-alt = %d %b %Y

[settings]
screenchange-reload = true

[global/wm]
margin-top = 0
margin-bottom = 0

[module/title]
type = internal/xwindow

label = %title%
label-maxlen = 70

[module/windowslist]
type = custom/script
exec = ~/Repos/bspwm-scripts/polybar-windows.py
tail = true
